body {
    background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.cabecalho {
    background-color: whitesmoke
    width: auto;
    padding: 5px;
}

.cabecalho-logo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalho-logo a {
	text-decoration: none;
	color: inherit;
}

.cabecalho-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;
}

.cabecalho-nav-link:hover {
	color: #FFF;
	background-color: #9799A6;
}

.conteudo h2 {
    width: auto;
	padding: 5px;
	margin: 25px;
	background-color: #dee0e0;
	color:black;
	box-shadow: 0 0 0.5em gray;
}

.conteudo .imgpromo{	
	background-image: url(../img/background-futebol-gramado.jpg);
	background-repeat: repeat ;
}

