body {
    background-image: url(../img/background-body.jpg);
	background-attachment: fixed;
	background-repeat: repeat-x;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.cabecalho {
    background-color: whitesmoke
    width: auto;
    padding: 6px;
}

.cabecalho-logo {
	color: white;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 10px;
}

.cabecalho-logo a {
	text-decoration: none;
	color: inherit;
}

.cabecalho-nav {
	color: white;
	padding: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	transition: .5s;
	display: block;
}

.cabecalho-nav:hover {
	background-color: #e7e7e7;
}

.conteudo{
	padding: 5px;
	margin: 5px;
	color:white;
	background-color:rgb(42, 42, 100);
	box-shadow: 0 0 0.9em whitesmoke);
}

<<<<<<< HEAD
.imgpromo{
	background-image: url(../img/background-futebol-gramado.jpg);
	background-repeat: repeat ;
	box-shadow: 0 0 0.9em gray;

}

.camisa-titulo {
	width: auto;
	padding: 5px;
	margin: 5px;
	background-color: #f1f1f1;
	color:black;
	
}

=======
.conteudo .imgpromo{
	margin: auto;	
	background-image: url(../img/background-futebol-gramado.jpg);
	background-repeat: repeat ;
}
>>>>>>> ed96ff11f9d33bb91a05d9ec345bda1dd325fabe
