.cabecalho .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecalho-logo {
	display: flex;
}
.cabecalho-nav{
    display: flex;
}
.carrinho-usuario{
    display: flex:
}

.conteudo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgpromo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.camisa-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel{
    display: flex;
    align-items: center;
}

.camisaria .container{
    align-items: center;
}