.cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinho-usuário {
    display: flex;
}

.conteudo .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

